h1 {
    text-align: center;
    color: darkslategray;
}
p {
    width: 800px;
    margin: 0 auto;
}

#main {
    color:hotpink;
    background-color:aliceblue;
    font-family: "Lucida Console", "Courier New", monospace;
}

.date {
    border: 5px solid black;
}