body {
    background-color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.header {
    text-align: center;
}

.description {
    line-height: 1;
    text-align: left;
    border: 1px solid black;
    padding: 10px 10px;
    background-color: lavenderblush;
}


.resume {
    float: left; 
    width: 30%; 
    box-sizing: border-box; 
    padding-left: 20px
}